.alert {
    padding: 10px;
    border: 1px solid #d9534f;
    border-radius: 10px; 
    width: 40%;
    background-color: #f2dede;
    margin-bottom: 10px;
  }
  
  .warning {
    font-weight: bold;
  }

  hr {
    margin: 7px;
  }
  
  .msg {
    color: #d9534f;
    padding: 20px;
    font-size: larger;
  }
  
  i {
    font-size: larger;
    margin-left: 10px;  
  }