<h1>Product List</h1>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            
                <td>{{this.temp.detailParameter.productID}}</td>
                <td>{{this.temp.detailParameter.name}} </td>
                <td>{{this.temp.detailParameter.price}}</td>
            
        </tbody>
    </table>
</div>